.header{
    display: flex;
    justify-content: end;
    font-weight: 400;
    font-size: 1.5em;
    height: 7vh;
    text-align: center;
   
    border-bottom: 10px solid blue;
}
.childContainer-1{
    display: flex;
    margin-top: 1em;
}
.childContainer-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.content{
    border: 1px solid black;
    margin: 2px;
    padding:5px;
}
.logo{
    margin-top: 25px;
    padding: 2px;
}
img{
    margin-top: 25px;
    padding: 2px;
}